*{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
}

/* nav style */


.nav{
display: flex;
justify-content: space-around;
align-items: center;    
}

.nav-titel{
    display: flex;
    align-items: center;
}
.nav-titel > img{
    padding-right: 20px;
  width: 56px;
  height: 66.0px;
   
}
.nav-titel > h1{
    color: #131318;
  font-size: 36px;
  font-weight: 800;
}

.nev_titel_color{

    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}
.home-bar-style{
    color: #FF5400;
  font-size: 18px;
  font-weight: 700;
}

.nav_1{
    display: flex;
    
}

.li{
    padding-left: 44px;
    list-style: none;
}
.li-2{
    list-style: none;
}
.img_img{
    display: none;
}
.a{
    font-family: 'Mulish', sans-serif;

  
    font-size: 18px;
    font-weight: 400;
    color: #424247;
 text-decoration: none;
}
        /* nav style end */


        .hedar_img{
            background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),

            url(../Images/Group\ 13\ \(1\)\ \(1\).png);

            background-repeat: no-repeat;
            margin: 0 auto;
            width: 1170px;
height: 500px;
text-align: center;

        }
        .p{
            color: rgba(19, 19, 24, 0.50);
            font-size: 10px;
            font-weight: 400;
            padding-top: 1px;;
            padding-right: 76px;
            background-image: url(../Images/adv.svg);
            background-repeat: no-repeat;
            background-position: right bottom;
            background-position-y: -3px;
        }
        .amar{
            width: 129px;
  height: 37px;
            border-radius: 8px;
            background: #FFF;
        }
.new{
    justify-content: center;
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    text-align: center;
}

.hedik_1{
    color: #FFF;
    font-size: 51px;
    font-weight: 800;
    height: 46px;
    padding-top: 106px;
}
.perakirasp_1{
    color: #FFF;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    width: 532px;
    padding-left: 327px;
    height: 99px;
}
.button{
  
    width: 129px;
  height: 37px;
  background-color: #FF5400;
  border-radius: 7px;
}
.button_2{
    background-image: url(../Images/cc.svg);
    background-repeat: no-repeat;
    background-position-y: 5px;
   
}
.button-3{

}












































        /* midiya _style */


        @media screen and (max-width:600px) {
            .img_img {
                display: block;
               
                
                top: 20px;
              }
              .nav_1{
                display: none;
              
              }
              
          
            .li{
                height: 41px;
            }
            .hedar_img{
                width: 335px;
                height: 463px;
                background-position-x: -348px;
                background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
                border-radius: 23px;
                background-size: 1086px;
    
            }


            .hedik_1{
                color: #FFF;
    font-size: 22px;
    font-weight: 800;
    padding-top: 30px;
            }


            .perakirasp_1{
                font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    position: relative;
    right: 320px;
    width: 330px;
            }


            .new{
                display: flex;
    width: 172px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    position: relative;
    left: 70px;
            }
            .amar{
                margin-left: 4px;
    padding-left: 39px;
            }
            .p{
                position: relative;
    right: 17px;
            }
            .button{
                position: relative;
    left: 8px;
    width: 164px;
    color: white;
            }
            .button_2{
                background-image: url(../Images/cc.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: center;
    background-position-x: 23px;
    background-size: 24px;
            }
        }