*{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
}

/* nav style */


.nav{
display: flex;
justify-content: space-around;
align-items: center;    
}

.nav-titel{
    display: flex;
    align-items: center;
}
.nav-titel > img{
    padding-right: 20px;
  width: 56px;
  height: 66.0px;
   
}
.nav-titel > h1{
    color: #131318;
  font-size: 36px;
  font-weight: 800;
}

.nev_titel_color{

    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}
.home-bar-style{
    color: #FF5400;
  font-size: 18px;
  font-weight: 700;
}

.nav_1{
    display: flex;
    
}

.li{
    padding-left: 44px;
    list-style: none;
}
.li-2{
    list-style: none;
}
.img_img{
    display: none;
}
.a{
    font-family: 'Mulish', sans-serif;

  
    font-size: 18px;
    font-weight: 400;
    color: #424247;
 text-decoration: none;
}
        /* nav style end */


        .hedar_img{
            background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),

            url(../Images/Group\ 13\ \(1\)\ \(1\).png);

            background-repeat: no-repeat;
            margin: 0 auto;
            width: 1170px;
height: 500px;
text-align: center;

        }
        .p{
            color: rgba(19, 19, 24, 0.50);
            font-size: 10px;
            font-weight: 400;
            padding-top: 1px;;
            padding-right: 76px;
            background-image: url(../Images/adv.svg);
            background-repeat: no-repeat;
            background-position: right bottom;
            background-position-y: -3px;
        }
        .amar{
            width: 129px;
  height: 37px;
            border-radius: 8px;
            background: #FFF;
        }
.new{
    justify-content: center;
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    text-align: center;
}

.hedik_1{
    color: #FFF;
    font-size: 51px;
    font-weight: 800;
    height: 46px;
    padding-top: 106px;
}
.perakirasp_1{
    color: #FFF;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    width: 532px;
    padding-left: 327px;
    height: 99px;
}
.button{
  
    width: 129px;
  height: 37px;
  background-color: #FF5400;
  border-radius: 7px;
}
.button_2{
    background-image: url(../Images/cc.svg);
    background-repeat: no-repeat;
    background-position-y: 5px;
   
}
.button-3{

}


        /* mian style popurar        */


        .popurar{
            display: flex;
            margin-top: 100px;
        }
        .popurar_conten{
            width: 999px;
            height: 549px;
            text-align: center;
        }
        .popur_img{
            width: 540px;
            height: 550px;
            border-radius: 16px;
        }
        .popurar_hedik{
            color: #131318;
            text-align: center;
            font-size: 40px;
            font-weight: 800;
            margin-left: 51px;
        }
        .popurar_perakiram{
            color: rgba(19, 19, 24, 0.70);
            
            font-size: 16px;
            
            font-weight: 400;
            line-height: 26px; 
            width: 589px;
  margin-left:341px;
        }
.popurar_ul{
    color: rgba(19, 19, 24, 0.70);
    
    font-size: 16px;
    
    font-weight: 400;
    line-height: 32px;
    width: 504px;
  margin-left: 311px;
 
  padding-top: 10px;
}
.button_3{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
 
font-size: 17px;
margin-right: 128px;
  margin-top: 61px;
font-weight: 800;

}


   /* mian style choose img        */

  .Choose-ariya{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 191px;
    margin-left: 342px;
    width: 1242px;
  height: 1013px;

  }
  .choose_img_arey{
    width: 1308px;
    display: grid;
  gap: 24px;
  }
.choose_img{
  
}



.img_1{
    display: flex;
    gap: 24px;
    
}
.tui{
    display: flex;
    gap: 24px;
    
}

.img_2{
    position: relative;
    left: 24px;
}
.img_3{
    display: flex;
    gap: 24px;
}
.left{
    position: relative;
  left: -28px;
}

.img_a{
    background-image: url(../Images/Rectangle\ 5.png);
    background-repeat: no-repeat;
    width: 573px;
height: 300px;
flex-shrink: 0;
}
.img_b{
    background-image: url(../Images/Rectangle\ 8.png);
    background-repeat: no-repeat;
    width: 573px;
height: 300px;
flex-shrink: 0;
}

.img_c{
    background-image: url(../Images/Rectangle\ 6.png);
    background-repeat: no-repeat;
    width: 374px;
height: 286px;
flex-shrink: 0;
}
.img_d{
    background-image: url(../Images/Rectangle\ 7.png);
    background-repeat: no-repeat;
    width: 474px;
height: 286px;
flex-shrink: 0;
}
.img_e{
    background-image: url(../Images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    width: 274px;
height: 286px;
flex-shrink: 0; 
}

.img_f{
    background-image: url(../Images/Rectangle\ 11.png);
    background-repeat: no-repeat;
    width: 473px;
height: 300px;
flex-shrink: 0;
}

.img_g{
    background-image: url(../Images/Rectangle\ 10.png);
        background-repeat: no-repeat;
        width: 673px;
height: 300px;
flex-shrink: 0;
}
.anek{
    color: #FFF;
text-align: center;
padding-top: 118px;
font-size: 28px;

font-weight: 800;

}

.hotel{
    text-align: center;
  margin-top: 83px;
}

.hotel_2{
display: inline-flex;
gap: 24px;
}

.sob{
    width: 573px;
    height: 284px;
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}

.sob_2{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.sob_3{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 24px auto 0 auto;
}

.hedar_7{
    text-align: center;
}

.top{
    color: #131318;
    font-size: 24px;
    margin-left: 36px;
  text-align: left
}
.to_1{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 500px;
    margin-left: 23px;
}
.new{
    margin-left: -93px;
     
  height: 24px;
}

.new_2{
    margin-left: 697px;
    width: 410px
}
.img_mar{
    margin-right: 436px;
  margin-top: 34px;
}


.Discounts_img{
    margin-left: 362px;
    margin-top: 105px;
}
.img_diskaon{

}
.popur_img_1{
   
}
.Discounts_hedar{
    
}
.Discounts_hedar > h1{
    color: #131318;
    text-align: center;
    
    font-size: 40px;

    font-weight: 800;
   
}
.Discounts_hedar > p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    width: 643px;
    font-size: 16px;
    margin-left: 605px;
    font-weight: 400;
    line-height: 26px; 
}
.img_11{
background-image: url("../Images/Group\ 39.png") ;
background-repeat: no-repeat;
width: 1170px;
height: 500px;
border-radius: 16px;
padding-top: 11px;
  
}
.dd{
    text-align: center;
    margin-top: 100px;
}
.img_12{
    background-image: url("../Images/Group\ 40.png") ;
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    padding-bottom: 15px;
}
.img_13{
    background-image: url("../Images/Group\ 39.png") ;
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    border-radius: 16px;
   
}
.time{

}
.time >ul {
    display: flex;
    list-style: none;
   
}
.time_img{
    padding-left: 56px;
}
.text_bay{
    width: 579px;
    height: 389px;
   
    border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
margin-left: 531px;
  position: relative;
  top: 56px;
}
.bay{
    margin-left: 56px;
}
.hedig{
    color: #131318;
  
    font-size: 24px;
  
    font-weight: 800;
    ;
}

.per{
    color: #5A5A5D;
  
    font-size: 16px;

    font-weight: 400;
    line-height: 26px; 
    width: 452px;
    margin-left: 64px;
}
.h4{
    color: #FF5400;
  
    font-size: 20px;

    font-weight: 800;

}
.amarr{
    width: 150px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: white;
  font-size: 20px;
  font-weight: 800;
}
.logo_1{
    background-image:  url(../Images/Fra.svg);
    background-repeat: no-repeat;
    background-position-x: 28px;
  background-position-y: -2px;
}

.logo_2{
    background-image:  url(../Images/Frame\ \(1\).svg);
    background-repeat: no-repeat;
    background-position-x: 28px;
  background-position-y: -2px;
}
.logo_3{
    background-image:  url(../Images/Frame\ \(2\).svg);
    background-repeat: no-repeat;
    background-position-x: 28px;
  background-position-y: -2px;
}
.r{
    margin-top: 74px;
}
.last_conten{
    display: flex;
    justify-content: center;
  margin-top: 163px;
}

.last_pat{
    background: #FFF;
    width: 622px;
    height: 495px;
}
.last_pat > h1{
    width: 448px;
    color: #131318;

font-size: 40px;

font-weight: 800;
line-height: 60px; 
}
.last_pat > p{
    width: 532px;
    color: #5A5A5D;

font-size: 16px;

font-weight: 400;
line-height: 26px; 
}
.last_pat >ul{
    color: #131318;
  
    font-size: 16px;
    width: 518px;
    font-weight: 700;
    line-height: 35px;
}
.last{
    border-radius: 16px;

    background-image: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 40089.png);
    background-repeat: no-repeat;
    width: 610px;
height: 424px;

}
.last > h1{
    width: 276px;
    color: #FFF;
text-align: center;

font-size: 24px;

font-weight: 700;
line-height: 36px; 
margin: 0 auto;
    margin-top: 0px;
  margin-top: 180px;
}
.pera{
    width: 24px;
height: 24px;
top: 111px;
  left: 24px;
  position: relative;
}
.pera_2{
    width: 562px;
height: 4px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
position: relative;
  top: 124px;
  left: 24px;

}
.pera_4{
    color: var(--Dark-07, #F3F3F3);
    top:  70px;
    left: 60px;
    position: relative;

font-size: 14px;

font-weight: 400;

}
.prea_3{
    width: 87px;
  height: 4px;
  position: relative;
  top: -12px;
}

.img_last{
    background-image: url(../Images/Rectangle\ 8\ \(1\).png);
    background-repeat: no-repeat;
    width: 672px;
height: 422px;
border-radius: 16px;
 
}
.last_conten_1{
    display: flex;
    justify-content: center;
  margin-top: 116px;
}

.last_1{
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    margin-right: 24px;
    padding-left: 36px;
}
.last_1 >h1{
    color: #131318;

font-size: 24px;

font-weight: 800;

}
.last_1 > p{
    color: #5A5A5D;
   
    font-size: 16px;
  
    font-weight: 400;
    line-height: 26px; 
}
.last_2{}

.last_2 > input{
    width: 393px;
height: 52px;
 margin-bottom: 10px;
}

.img_andar{
    width: 324px;
height: 120px;
transform: rotate(-19.628deg);
border-radius: 16px;
background: #FF5400;
margin-top: 250px;
  margin-left: 337px;
}

.img_andar > h2{
    transform: rotate(-2.628deg);
    color: #FFF;
    margin-left: 93px;
    font-size: 24px;
    font-weight: 400;
    position: relative;
    top: 19px;
  

}
.img_andar >h1{
    transform: rotate(-2.628deg);
  color: #FFF;
  font-size: 32px;
  font-weight: 800;
  margin-left: 44px;
  margin-top: 37px;

}
.footer{
    text-align: center;

}

.footer_1{
text-align: center;
}
.footer_1 > img{
    position: relative;
    left: -177px;
  top: 76px;
}
.footer_1 > h1{

}

.footer > p{
    color: #5A5A5D;

    font-family: Mulish;
    font-size: 16px;
   
    font-weight: 400;
    line-height: 95px;
  width: 1866px;
}

.footer > img{
    margin-bottom: 48px;
}

.biday{
    color: #131318;

font-size: 16px;
text-align: center;
  margin-top: 50px;
font-weight: 300;
 
}

hr{
    background: rgba(19, 19, 24, 0.10);
    width: 872px;
height: 1px;
}
footer{
    background: rgba(19, 19, 24, 0.05);
    width: 1440px;
height: 502px;
margin: 0 auto;
border-radius: 29px;
margin-top: 83px;
}
.box_areee{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 298px;
}
.box{ 
    height: 381px;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 2px 3px 3px 3px #8c8080;
    width: 302px;
  padding-left: 3px;
  margin-left: 140px;

}
.box > h1{
    color: #131318;
    font-size: 21px;
    font-weight: 800;
    height: 51px;
}
.backraon{
    background-image: url(../Images/nije.webp);
    background-size: 309px;
  width: 309px;
  height: 204px;
  background-repeat: no-repeat;
  border-radius: 20px 20px 5px 7px;
  position: relative;
  top: -2px;
  left: -5px;
}
.box >p{

}
.birok{
    background-size: 699px;
  background-position-x: -223px;
}

.box > img{
    width: 82px;
}
.box > a{
    text-decoration: none;
    color: #201a1a;
    padding-top: 10px;
    top: 25px;
    position: relative;

}

.hr{
    background: rgba(19, 19, 24, 0.10);
    width: 294px;
    height: 0px}




    .back{
        background-image: url(../Images/nije_1.webp);
        background-repeat: no-repeat;
        width: 309px;
        height: 204px;
        background-repeat: no-repeat;
        border-radius: 20px 20px 5px 7px;
        position: relative;
        top: -2px;
        left: -5px;
    }
    .back_1{
background-image: url(../Images/nije_2.webp);
background-repeat: no-repeat;
width: 309px;
height: 204px;
background-repeat: no-repeat;
border-radius: 20px 20px 5px 7px;
position: relative;
top: -2px;
left: -5px;
    }
    .back_2{
background-image: url(../Images/nije_3.webp);
background-repeat: no-repeat;
width: 309px;
height: 204px;
background-repeat: no-repeat;
border-radius: 20px 20px 5px 7px;
position: relative;
top: -2px;
left: -5px;
    }
    .aru{
        position: relative;
        left: 134px;
    }
  

    .aru_2{
        position: relative;
        left: -135px;
    }

    .aru_3{
        position: relative;
        left: -271px;
    }

    .barti_kaj{
        margin-left: 750px;
        position: relative;
        top: 138px;
    }




























































        /* midiya _style */


        @media screen and (max-width:600px) {
            .img_img {
                display: block;
               
                
                top: 20px;
              }
              .nav_1{
                display: none;
              
              }
              
          
            .li{
                height: 41px;
            }
            .hedar_img{
                width: 335px;
                height: 463px;
                background-position-x: -348px;
                background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
                border-radius: 23px;
                background-size: 1086px;
                margin-top: 394px;
                margin-top: 1252px;
            }


            .hedik_1{
                color: #FFF;
                font-size: 22px;
                font-weight: 800;
                padding-top: 30px;
            }


            .perakirasp_1{
                font-size: 12px;
                font-weight: 400;
                line-height: 24px;
                position: relative;
                right: 320px;
                width: 330px;
                height: 90px;
            }


            .new{
                display: inline-flex;
                width: 242px;
                flex-direction: column;
                align-items: flex-start;
                gap: 15px;
                position: relative;
                left: 50px;
                margin-top: 1240px;
                        }
            .amar{
                margin-left: 4px;
                padding-left: 39px;
                width: 186px;
                        }
            .p{
                position: relative;
                right: 17px;
                color: rgba(19, 19, 24, 0.50);
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                top: -9px;
                        }
            .button{
                position: relative;
                left: 8px;
                width: 164px;
                color: white;
                width: 216px;
                height: 52px;
                        }
            .button_2{
                background-image: url(../Images/cc.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-position-x: center;
                background-position-x: 23px;
                background-size: 24px;
                        }

            .popurar {
                display: block;
                margin-top: 680px;
              }
              .popurar_conten {
                width: 100%;
                height: 571px;
                margin-top: -508px;
              }
              .popurar_perakiram {
                color: rgba(19, 19, 24, 0.70);
                font-size: 14px;
                font-weight: 400;
                line-height: 26px;
                width: 379px;
                margin-left: 2px;
                height: 68px
              }
              .popurar_ul {
                color: rgba(19, 19, 24, 0.70);
                font-size: 14px;
                font-weight: 400;
                line-height: 32px;
                width: 326px;
                margin-left: -22px;
                padding-top: 10px;}


                .popurar_hedik{
                    color: #131318;
                    text-align: center;
                    font-size: 20px;
                    font-weight: 800;
                    margin-left: 0;
                    margin-right: 178px;
                }
                .button_3{
                    margin-right: 217px;
                }
                .popur_img{
                    margin: 0 auto;
                }
                .img_1 {
                    display: block;
                  }
                  .tui {
                    display: block;
                  }
                  .img_3 {
                    display: block;
                  }
                  .choose_img_arey {
                    display: block;
                  }
                  .Choose-ariya {
                    display: inline-block;
                    position: relative;
                    right: 425px;
                    margin-top: -80px;
                }
                section{
                    position: relative;
                    top: -1167px;
                }
                    
                    .hedar_7 {
                        margin-top: -1109px;
                        margin-left: 32px;
                      }
                      .new_2 {
                        margin-left: -41px;
                        width: 410px;
                        color: rgba(19, 19, 24, 0.70);
                        text-align: center;
                      
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;}

                        .hotel_2 {
                            display: inline-block;}
                            .sob {
                                width: 335px;
                                height: 289px;
                                padding-left: 23px;
                            }
                                .top{
                                   color: #131318;
                                        text-align: center;
                                    
                                        font-size: 16px;
                                     
                                        font-weight: 800;
                                       
                                }
                                .to_1{
                                    width: 207px;
                                    color: #5A5A5D;
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin-left: -8px; 
                                                                    }

                                         .sob{
                                            height: 318px;

                                              }
                                              .img_mar{
                                                width: 48px;
                                                height: 48px;

                                              }
                                              .sob_2{
                                                margin-top: 25px;
                                              }
                                              .img_a {
                                                background-image: url(../Images/Rectangle\ 5.png);
                                                background-repeat: no-repeat;
                                                width: 573px;
                                                height: 186px;
                                                background-size: 348px;
                                                margin-left: 92px;
                                              }

                                              .anek{
                                                padding-top: 84px;
                                                margin-left: -206px;
                                              }
                                              .img_b{
                                                width: 573px;
                                                height: 186px;
                                                background-size: 348px;
                                                margin-left: 92px;
                                              }
                                              .img_c{
                                                width: 573px;
                                                height: 186px;
                                                background-size: 348px;
                                                margin-left: 92px;
                                              }
                                              
                                              .img_d{
                                                width: 573px;
                                                height: 186px;
                                                background-size: 348px;
                                                margin-left: 92px;
                                              }
                                              .img_e{
                                                width: 573px;
                                                height: 186px;
                                                background-size: 348px;
                                                margin-left: 92px;
                                              }
                                              .img_f{
                                                width: 573px;
                                                height: 186px;
                                                background-size: 348px;
                                                margin-left: 92px;
                                              }
                                              .img_g{
                                                width: 573px;
                                                height: 186px;
                                                background-size: 348px;
                                                margin-left: 92px;
                                              }
                                              
                                              .Discounts_img {
                                                margin-left: -33px;
                                            }
                                             .img_11{
                                                height: 833px;
                                                background-size: 32%;
                                                background-image: url(../Images/Rectangle\ 12.png);
                                                background-position-x: 53px;
                                            }
                                            .text_bay{
                                                width: 292px;
                                                height: 358px;
                                                border-radius: 16px;
                                                border: 2px solid #FFF;
                                                background: rgba(255, 255, 255, 0.80);
                                                backdrop-filter: blur(2.5px);
                                                left: -447px;
                                                top: 179px;

                                            }
                                            .hedig {
                                                color: #131318;
                                                font-size: 15px;}
                                                .time{
                                                    width: 31px;
                                                    
                                                }
                                                .r{
                                                    margin-top: -49px;
                                                        position: relative;
                                                        top: -165px;
                                                }
                                                .per{
                                                    font-size: 14px;
                                                    
                                                    width: 284px;
                                                    margin-left: 4px;
                                                }
                                                .time > ul {
                                                            display: block;
                                                      
                                                        }
                                                        .logo_1{
                                                            width: 108px;
                                                            margin-left: -66px;
                                                        }
                                                        .logo_2{
                                                            width: 64px;
                                                            margin-left: 93px;
                                                            margin-top: 10px;
                                                        }
                                                        .logo_3{
                                                            margin-top: -15px;
                                                            margin-left: -62px;
                                                        }
                                                        .img_12 {
                                                            background-image: url("../Images/Rectangle\ 13.png");
                                                            background-repeat: no-repeat;
                                                            height: 523px;

                                                            margin-top: -196px;
                                                            margin-left: 73px;  
                                                        }
                                                        .bay{
                                                            left: -36px;
                                                             top: 107px;
                                                              
                                                        }
                                                        .img_13{
                                                            height: 833px;
                                                            background-size: 32%;
                                                            background-image: url(../Images/Rectangle\ 12.png);
                                                            background-position-x: 53px;
                                                        }

                                                        .last_conten{

                                                            display: block;
                                                        }
                                                        .last{
                                                            width: 335px;
                                                            height: 200px;
                                                            margin-left: 13px;
                                                            margin-top: -159px;
                                                        }
                                                        .last_pat > h1{
                                                            width: 435px;
                                                        }
                                                    .last_pat > p{
                                                        width: 363px;
                                                    }
                                                    .last_pat > ul{
                                                        width: 378px;
                                                        margin-left: -26px;
                                                    }
                                                    .pera{
                                                        top: 84px;
                                                    }
                                                    .pera_2{
                                                        top: 82px;
                                                    }
                                                    .pera_4{
                                                        top: 40px;
                                                    }
                                                    .last_pat{
                                                        margin-top: -256px;
                                                    }
                                                    .last_conten_1{
                                                        display: block;
                                                        width: 335px;
                                                        height: 353px;
                                                        margin-left: -72px;
                                                    }

                                                    .img_last{
                                                        width: 335px;
                                                        height: 300px;
                                                        margin: 0 auto;
                                                        margin-left: 95px;
                                                     
                                                    }
                                                    .img_andar{
                                                        width: 214.023px;
                                                        height: 79.268px;
                                                        transform: rotate(-19.628deg);
                                                        flex-shrink: 0;
                                                        margin-left: 116px;
                                                        margin-top: 21px;
                                                        position: relative;
                                                        top: 183px;
                                                    }
                                                    .img_andar > h2{
                                                        color: #FFF;
                                                        text-align: center;
                                                        transform: rotate(-19.628deg);
                                                        font-size: 15.854px;
                                                        margin-right: 122px;
                                                        position: relative;
                                                        top: 14px;
                                                        font-weight: 400;
                                                        
                                                    }
                                                    .img_andar > h1{
                                                        color: #FFF;
                                                        transform: rotate(-19.628deg);
                                                        font-size: 21.138px;
                                                       
                                                        font-weight: 800;

                                                                                 }
                                                    .last_1{
                                                        width: 335px;
                                                        height: 353px;
                                                        margin-left: 84px;
                                                    }
                                                    .last_2 > input{
                                                        width: 288px;
                                                        height: 52px;
                                                        
                                                    }
                                                    footer{
                                                        width: 100%;
                                                        height: 309px;
                                                      
                                                        position: relative;
                                                        margin-top: -1051px;
                                                    }
                                                    .footer_1 > h1{
                                                        color: #131318;

                                                        font-size: 21.543px;

                                                        font-weight: 800;

                                                    }
                                                    .footer_1 > img{
                                                        width: 39.724px;
                                                        height: 34.516px;
                                                        margin-left: 60px;
                                                        position: relative;
                                                        top: 65px;

                                                    }
                                                    .footer > p{
                                                        width: 287px;
                                                        color: #5A5A5D;
                                                        text-align: center;
                                                        
                                                        font-size: 14px;

                                                        font-weight: 400;
                                                        line-height: 24px; 
                                                        margin-left: 46px;
                                                    }
                                                    .footer_1{
                                                        position: relative;
                                                        top: -40px;
                                                        height: 53px;
                                                    }
                                                    hr{
                                                        width: 259px;
                                                        height: 1px; 
                                                    }
                                                    .biday{
                                                        margin-top: 26px;
                                                    }
                                                    .popur_img_1{
                                                        width: 335px;
                                                        height: 346px;
                                                        margin-left: 14px;
                                                    }
                                                    .Discounts_hedar > p{
                                                        color: rgba(19, 19, 24, 0.70);
                                                        text-align: center;
                                                       
                                                        font-size: 14px;
                                                        position: relative;
                                                        left: -574px;
                                                        font-weight: 400;
                                                        line-height: 24px;

                                                        width: 309px;
                                                    }
                                                    .box_areee{
                                                        display: grid;
                                                        gap: 48px;
                                                        grid-template-columns: repeat(1,auto);
                                                        justify-content: center;
                                                    }

                                                    .box{
                                                        padding-left: 0;
                                                         margin-left: 0;
                                                    }
                                                    .aru{
                                                        left:0;

                                                    }
                                                    
                                                    .aru_2{
                                                        position: sticky;
                                                    }

                                                    .aru_3{
                                                        position: sticky;
                                                    }

                                                    .img_andar > h1{
                                                        margin-top: 25px;
                                                        transform: rotate(-0.628deg);
                                                    }

                                                    .img_andar > h2{
                                                        transform: rotate(-6.628deg);
                                                    }



                                                }